<div class="flex-auto flex-shrink-0 w-full md:w-5/12 flex flex-row flex-wrap justify-center content-between my-3 md:mx-3 p-4 items-center bg-black bg-opacity-60 max-w-full">
    <div class="w-11/12 flex-initial" id="poll-question">
        <h2 class="text-center text-3xl">
            {{pollName}}
        </h2>
        <p class="pt-4 text-justify">
            {{pollText}}
        </p>
    </div>
    <div class="w-11/12 flex-initial flex-row h-12 my-4 flex" id="poll-response" data-poll-id="{{id}}">
        <div class="flex-1 bg-blue-600 flex align-middle content-center items-center text-center yes-btn" data-yes='{{vote_yes}}' data-poll-id="{{id}}">
            <p class="flex-1">YES</p>
        </div>
        <div class="flex-1 bg-red-600 flex align-middle content-center items-center text-center no-btn" data-no='{{vote_no}}' data-poll-id="{{id}}">
            <p class="flex-1">NO</p>
        </div>
    </div>
    <div class="w-11/12 flex-initial flex-col h-12 my-4 hidden" id="poll-results">
        <div class="flex-1 flex content-start py-1 px-2 w-full">
            <div class="bg-blue-600 overflow-hidden" style="width:{{percent vote_yes vote_no}}%;" data-yes='{{vote_yes}}' data-poll-id="{{id}}">
                YES
            </div>
        </div>
        <div class="flex-1 flex content-start py-1 px-2 w-full">
            <div class="bg-red-600 overflow-hidden" style="width:{{percent vote_no vote_yes}}%;" data-no='{{vote_no}}' data-poll-id='{{id}}'>
                NO
            </div>
        </div>
    </div>
</div>