<main class="mobile-main opacity-80"
    style="background-image: url(/img/background-redflowers.jpg);">
    <div class="py-14"></div>
    <section class="profile">
        <div class="profile-container">
            <div class="profile-body">
                <h1 id="philosopher-name" class="philosopher-name capitalize"><b>{{philosopher.name}}</b></h1>
                <!-- add video from youtube  -->
                <div class="video">
                    <iframe width="560" height="315" src="https://www.youtube.com/embed/{{philosopher.videoUrl}}" frameborder="0"
                        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                        allowfullscreen></iframe>
                </div>
                <h2 class="about-philosopher">About</h2>
                <div class="profile-summary">
                    <img class="w-48 m-0 p-0" id="philosopher-img" src="/img/philosopher-profile-images/{{philosopher.img}}"
                        alt="Picture of {{philosopher.name}}">
                    <div class="profile-content">
                        <p id="philosopher-about">
                            {{#if philosopher.about}}
                            {{philosopher.about}}
                            {{else}}
                            Lorem ipsum, dolor sit amet consectetur adipisicing elit. Sapiente repellat minus obcaecati magnam labore et, quam deserunt non consequatur, quibusdam nulla voluptates molestiae in sit? Vel porro consectetur consequatur officiis! Lorem ipsum dolor sit amet consectetur adipisicing elit. Hic, suscipit velit. At, neque magnam? Repellendus minima optio sint tempore porro sequi itaque maiores modi suscipit, mollitia inventore nostrum officia accusamus!
                            {{/if}}
                        </p>
                        <div class="philosopher-more">
                            <a href="{{philosopher.wikiLink}}">
                                <button class="whitespace-nowrap w-auto px-4" " id="wiki-link">Learn More

                                </button>
                            </a>
                        </div>
                    </div>
                </div>

            </div>
        </div>
        <div class="profile-container">
                {{> suggestionCard }}
        </div>
    </section>

</main>

<script src="https://apis.google.com/js/api.js"></script>
<script src="/lib/JQ/jquery-3.6.0.min.js"></script>
<script src="/js/youtube.js"></script>
<script src="/js/API.js"></script>