<main>
    <!--  qotd card  -->
    <div>
        <h1>Daily Question</h1>
        <h2>{{daily_question.question}}</h2>

    </div>


    <!--  commment section  -->
    <div class=''>
        <h3>Comments</h3>
        <!--  each comments as comment card  -->
        {{#each daily_question.comments as |comment|}}
        <div>
            <h3>{{comment.name}}</h3>
            <p>{{comment.comment}}</p>

        </div>
        {{/each}}


        <!--  submit comment (logged in)  -->
        {{#if loggedIn}}
        <!--comment input -->
        <div>
            <h4>Join the discussion</h4>

            <input id="comment" data-userid={{}} data-dq={{daily_question.dataValues.id}} type="text"><button
                id="submit">Submit</button>

        </div>
        {{else}}
        <!-- link to the login page -->
        <div>
            <h4>Log in to join the discussion.</h4>

            <form method="get" action="/login">
                <button type="submit">Log in</button>
            </form>
        </div>
        {{/if}}

    </div>
</main>