<main class="p-7 pt-20 bg-black bg-opacity-80 flex flex-col justify-center w-screen min-h-screen "
    style='background-image: url(/img/background-branches3.jpg);'>

    <!--  qotd card  -->



    <!--  commment section  -->
    <div class='my-12 p-7 bg-black bg-opacity-60 flex flex-col rounded-md max-w-5xl md:w-9/12 self-center'>
        <div
            class="flex flex-col items-center self-center  mb-24 bg-black bg-opacity-40 pb-8 rounded-md max-w-lg md:w-12/12 ">
            <h1 class='text-center'>Daily Question</h1>
            <h2 class='italic text-center'>{{daily_question.question}}</h2>


        </div>

        <h2 class='flex-1 items-center mb-10 text-center'>Comments</h2>
        <!--  each comments as comment card  -->

        {{#each daily_question.comments as |comment|}}
        <div class='bg-white bg-opacity-30 rounded-md my-3 py-5 px-5 self-center w-11/12 md:w-9/12'>
            <h3 class='pr-3 text-gray-400 '>{{comment.user.user_name}}</h3>
            <p class='ml-8 mt-2 '>{{comment.comment}}</p>

        </div>
        {{/each}}


        <!--  submit comment   -->
        {{#if loggedIn}}
        <!--comment input -->
        <div class='flex flex-1 flex-col justify-center items-center my-5 bg-black bg-opacity-40 rounded '>
            <h4 class='my-5'>Join the discussion</h4>

            <textarea id="comment" class='text-black px-2 resize-y w-80 p-1 ' type="text"></textarea><button
                class=' my-5 min-w-max ' id="submit" data-userid={{currentUserId}}
                data-dq={{daily_question.id}}>Submit</button>

        </div>
        {{else}}
        <!-- link to the login page -->
        <div
            class="flex flex-1 flex-col justify-center items-center my-7 bg-black bg-opacity-50 w-64 self-center py-3 rounded-md">
            <h4 class='flex-1'>Log in to join the discussion.</h4>

            <a class='flex-1' href="/login">
                <button class=' my-5 min-w-max' type="submit">Log in</button>
            </a>

        </div>
        {{/if}}

    </div>

    <div class="bg-black bg-opacity-80 sm:m-14 py-8">
        {{> suggestionCard }}
    </div>
</main>
<script src="/js/qotd.js"></script>